<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http=-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lobby</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

</head>
<body>

<h1 id="playRoomCode" name="playRoomCode">{{ roomCodeEnter }}</h1>
<h1 id="playerName" name="playerName">{{ playerName }}</h1>

<div id="round0" name="round0" style="display: none;">
    {% if startingPlayer == True %}
    You are Starting Player
    <form method="POST" id="startGameForm" class="col-md-4 mb-3">
        <button type="submit" class="btn btn-primary" id="StartGame" name="startGame" value="clicked" style="display: none;">Start Game</button>
    </form>
    {% endif %}
    <div id="numMembers">Number of players in room: {{ numMembers }}</div>
    <small> wating... </small>
</div>

<div id="round1" name="round1" style="display: none;">
    <h1>Round 1</h1>
    <h2>{{ room.question }}</h2>
    <form method="POST" id="theoryForm" class="col-md-4 mb-3">
        <input class="form-control" type="text" id="enterTheoryText" name="enterTheoryText" placeholder="What's your theory?" maxlength="100">
        <button type="submit" class="btn btn-primary" id="enterTheoryButton" name="enterTheoryButton" value="clicked">Enter Theory</button>
    </form>
    {% for theory in member.theories %}
    <h1>{{ theory.content }}</h1>
    {% endfor %}
</div>

<div id="disconnected" name="disconnected" style="display: none;">
    <h1>Room disconnected</h1>
    <h3>Refresh to return to homepage</h3>
</div>

<script
    type="text/javascript"
    src="{{ url_for('static', filename='play.js') }}"
></script>

</body>
</html>