<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http=-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lobby</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

</head>
<body>

<small id="gameStage" name="gameStage" style="display: none;">{{ room.gameStage }}</small>
<h1 id="playRoomCode" name="playRoomCode">{{ roomCodeEnter }}</h1>
<h1 id="playerName" name="playerName">{{ playerName }}</h1>

<div id="round0" name="round0" style="display: none;">
    {% if startingPlayer == True %}
    You are Starting Player
    <form method="POST" id="startGameForm" class="col-md-4 mb-3">
        <button type="submit" class="btn btn-primary" id="StartGame" name="startGame" value="clicked" style="display: none;">Start Game</button>
    </form>
    {% endif %}
    <div id="numMembers">Number of players in room: {{ numMembers }}</div>
    <small> wating... </small>
</div>

<div id="round1" name="round1" style="display: none;">
    <h1>Round 1</h1>
    {% if member.waiting == False %}
    <h2>{{ room.question }}</h2>
    <form method="POST" id="theoryForm" class="col-md-4 mb-3">
        <input class="form-control" type="text" id="enterTheoryText" name="enterTheoryText" placeholder="What's your theory?" maxlength="120" autocomplete="off">
        <button type="submit" class="btn btn-primary" id="enterTheoryButton" name="enterTheoryButton" value="clicked">Enter Theory</button>
    </form>
    {% else %}
    <h1> Waiting for other players to submit</h1>
    {% endif %}
</div>

<div id="round2" name="round2" style="display: none;">
    <h1>Round 2</h1>
    <h2 id="round2Prompt"> Write some words that {{member.writing_to}} has to work into their theory! </h2>
    <h2 id="round2PlayerTheory"> {{member.writing_to}}'s theory: </h2>
    <h4 id="receivedTheory">{{ member.received_theory }}</h4>
    {% if member.waiting == False %}
    <form method="POST" id="wordForm" class="col-md-4 mb-3">
        <input class="form-control" type="text" id="enterWordText" name="enterWordText" placeholder="Write a word they have to work in" maxlength="15" autocomplete="off">
        <button type="submit" class="btn btn-primary" id="enterWordButton" name="enterWordButton" value="clicked">Enter Word</button>
    </form>
    {% else %}
    <h1> Waiting for other players to submit</h1>
    {% endif %}
    <h3>{{ member.words_num }} / 3</h3>
</div>

<div id="round3" name="round3" style="display: none;">
    <h1>Round 3</h1>

    {% if member.waiting == False %}
    <h4>Welcome to Round 3, LOSER!</h4>
    <h4>Here are your words.</h4>
    {% for word in words_list %}
    <div>{{ word.content }}</div>
    {% endfor %}
    {% else %}
    <h1> Waiting for other players to submit</h1>
    {% endif %}

</div>

<div id="disconnected" name="disconnected" style="display: none;">
    <h1>Room disconnected</h1>
    <h3 href="/">Refresh to return to homepage</h3>
</div>

<script
    type="text/javascript"
    src="{{ url_for('static', filename='play.js') }}"
></script>

</body>
</html>